header {
    background-color: #89A8B2;
}

section {
    background-color: #89A8B2;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 0.1vh;
    margin-left: 14vh;

    h2 {
        background-color: #B3C8CF;
    }
}

.noticia {
    background-color: #F1F0E8;
    padding-top: 0.01vh;
}

nav {
    margin: 2vh;
}

li {
    background-color: #E5E1DA;
    display: inline;
    padding: 1vh;
}

aside {
    background-color: #B3C8CF;
    float: left;
    padding-inline: 2vh;
}

footer {
    background-color: #E5E1DA;
    clear: left;
    margin: 1vh;
}

div #twitter {
    position: fixed;
    bottom: 1vh;
    right: 2vh;
    width: 5vh;
}

div #instagram {
    position: fixed;
    bottom: 0.5vh;
    right: 7vh;
    width: 6vh;
}

div #youtube {
    position: fixed;
    bottom: 0.5vh;
    right: 12.5vh;
    width: 6vh;
}